<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성 뼈대 제작</title>
</head>

<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .layout > input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout > textarea {
        width: 100%;
        height: 500px;
        box-sizing: border-box;
        margin-top: 10px;
    }


</style>

<body>
    <div class="layout">
        <input type="text">
        <textarea></textarea>
        <button>작성</button>
    </div>
</body>
</html>